<div>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6 dark:bg-gray-700">
      <dt class="truncate text-sm font-medium text-gray-500 dark:text-gray-100"><%= t('public.validators.stats.active_validators') %></dt>
      <dd class="mt-1 text-xl font-semibold tracking-tight text-gray-900 dark:text-gray-100"><%= stats[:active_validators] %></dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6 dark:bg-gray-700">
      <dt class="truncate text-sm font-medium text-gray-500 dark:text-gray-100"><%= t('public.validators.stats.current_epoch') %></dt>
      <dd class="mt-1 text-xl font-semibold tracking-tight text-gray-900 dark:text-gray-100"><%= stats[:epoch] %></dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6 dark:bg-gray-700">
      <dt class="truncate text-sm font-medium text-gray-500 dark:text-gray-100"><%= t('public.validators.stats.avg_validator_staked') %></dt>
      <dd class="mt-1 text-xl font-semibold tracking-tight text-gray-900 dark:text-gray-100"><%= octas_to_apt(stats[:avg_validator_staked]) %>
        APT
      </dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6 dark:bg-gray-700">
      <dt class="truncate text-sm font-medium text-gray-500 dark:text-gray-100"><%= t('public.validators.stats.total_aptos_staked') %></dt>
      <dd class="mt-1 text-xl font-semibold tracking-tight text-gray-900 dark:text-gray-100"><%= octas_to_apt(stats[:total_stake]) %>
        APT
      </dd>
    </div>
  </dl>
</div>
