<%# app/views/validators/analytics.html.erb %>
<div class="container mx-auto px-4 space-y-8 mb-8">

  <div class="flex items-center mb-6 mt-8">
    <%= link_to validator_path(@validator.address), class: "mr-3 p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors" do %>
      <svg class="w-5 h-5 text-gray-600 dark:text-gray-300" viewBox="0 0 36 40" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M24.5118 8.82165C25.1627 9.47253 25.1627 10.5278 24.5118 11.1787L15.6904 20.0002L24.5118 28.8217C25.1627 29.4725 25.1627 30.5278 24.5118 31.1787C23.861 31.8295 22.8057 31.8295 22.1548 31.1787L12.1548 21.1787C11.5039 20.5278 11.5039 19.4725 12.1548 18.8217L22.1548 8.82165C22.8057 8.17078 23.861 8.17078 24.5118 8.82165Z"></path>
      </svg>
    <% end %>
    <div>
      <h1 class="text-2xl font-bold"><%= @validator.name %> <%= t('analytics') %></h1>
      <%= render partial: "validators/address_link_copy", locals: { validator: @validator } %>
    </div>
  </div>

  <%= render partial: "validators/analytics/rewards_history", locals: { validator: @validator, rewards_history: @rewards_history, available_time_ranges: @available_time_ranges } %>

  <%= render partial: "validators/analytics/performance_metrics", locals: { validator: @validator } %>

  <%= render partial: "validators/analytics/block_production", locals: { validator: @validator } %>

  <%= render partial: "validators/analytics/active_stake_history", locals: { validator: @validator } %>

  <%#= render partial: "validators/analytics/voting_participation", locals: { validator: @validator } %>

  <%= render partial: "validators/analytics/balance_vs_rewards", locals: { validator: @validator } %>

  <div class="text-xs">All epochs and results may not occur sequentially or be completed consecutively.</div>
</div>
