<div class="pt-8">
  <h1 class="text-start text-4xl font-bold text-gray-900 dark:text-gray-100">Aptos Top Validators</h1>
  <div class="grid grid-cols-5 gap-6 mt-6">
    <% gradient_colors = [
      '#34D499', '#42BFA4', '#50AAAF', '#5E95BA', '#6C80C5',
      '#7A6BD0', '#8856DB', '#9641E6', '#B557E0', '#F472B5'
    ] %>
    <% @validators.first(10).each_with_index do |validator, index| %>
      <%= link_to validator_path(validator.address), class: "block" do %>
        <div class="p-6 h-48 rounded-xl text-white relative hover:scale-105 transition-transform cursor-pointer" style="background-color: <%= gradient_colors[index] %>">
          <div class="text-2xl font-bold mb-2">#<%= index + 1 %></div>
          <div class="text-2xl font-bold mb-1 overflow-hidden text-ellipsis whitespace-nowrap max-w-[100%]"><%= validator.name %></div>
          <div class="text-sm opacity-90"><%= validator.location.truncate(35) %></div>

          <!-- Bottom left score -->
          <div class="absolute bottom-6 left-6 text-lg font-bold">
            <%= validator.overall_score %>
          </div>

          <!-- Bottom right arrow -->
          <svg class="absolute bottom-6 right-6 w-6 h-6 text-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M13 11V5.057L22.72 12 13 18.943V13H2v-2h11zm2 4.057L19.28 12 15 8.943v6.114z"></path>
          </svg>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="border-b border-b-gray-900/10 dark:border-b-gray-600 lg:border-t lg:border-t-gray-900/5 dark:border-t-gray-600 mt-12 pb-12 cursor-pointer">
    <%= link_to validators_path, class: "flex items-center justify-center text-lg text-gray-700 dark:text-gray-300 text-center" do %>
      <span class="mr-2">All Validators</span>
      <svg class="w-6 h-6 text-gray-700 dark:text-gray-300" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" d="M13 11V5.057L22.72 12 13 18.943V13H2v-2h11zm2 4.057L19.28 12 15 8.943v6.114z"></path>
      </svg>
    <% end %>
  </div>

  <!-- Stats -->
  <div class="border-b border-b-gray-900/10 dark:border-b-gray-600 lg:border-t lg:border-t-gray-900/5 dark:border-t-gray-600">
    <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0">
      <%= render 'apt_price' %>

      <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 dark:border-gray-600 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l dark:border-l-gray-600">
        <dt class="text-sm font-medium leading-6 text-gray-500 dark:text-gray-400"><%= @validator_count %> Nodes</dt>
        <dd class="text-xs font-medium text-rose-600 dark:text-rose-400"></dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900 dark:text-gray-100"><%= @countries_count %>
          Countries<br/><%= @cities_count %> Cities
        </dd>
      </div>
      <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 dark:border-gray-600 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l dark:border-l-gray-600">
        <dt class="text-sm font-medium leading-6 text-gray-500 dark:text-gray-400">Current Epoch</dt>
        <dd class="text-xs font-medium text-gray-700 dark:text-gray-300"></dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900 dark:text-gray-100"><%= @epoch ? @epoch.epoch : '' %></dd>
      </div>
      <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 dark:border-gray-600 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l dark:border-l-gray-600">
        <dt class="text-sm font-medium leading-6 text-gray-500 dark:text-gray-400">Staking APY</dt>
        <dd class="text-xs font-medium text-rose-600 dark:text-rose-400"></dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900 dark:text-gray-100">6.99
          %
        </dd>
      </div>
    </dl>
  </div>
</div>
