<div class="pt-8">
  <h1 class="text-start text-4xl font-bold text-gray-900 dark:text-gray-100">Aptos Validators</h1>
  <div class="mx-auto" style="height: 70vh; overflow: hidden; clip-path: polygon(0% 10%, 100% 10%, 100% 90%, 0% 90%);">
    <%= image_tag('world.svg', alt: 'World', class: 'w-full h-auto') %>
  </div>

  <!-- Updates -->
  <div id="validator-updates" class="mt-8 text-center">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100">Latest Validator Update</h2>
    <p id="validator-name" class="text-lg text-gray-700 dark:text-gray-300"></p>
    <p id="validator-address" class="text-sm text-gray-500 dark:text-gray-400"></p>
  </div>

  <!-- Stats -->
  <div class="border-b border-b-gray-900/10 dark:border-b-gray-600 lg:border-t lg:border-t-gray-900/5 dark:border-t-gray-600">
    <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0">
      <%= render 'apt_price' %>

      <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 dark:border-gray-600 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l dark:border-l-gray-600">
        <dt class="text-sm font-medium leading-6 text-gray-500 dark:text-gray-400"><%= @validator_count %> Nodes</dt>
        <dd class="text-xs font-medium text-rose-600 dark:text-rose-400"></dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900 dark:text-gray-100"><%= @countries_count %>
          Countries<br/><%= @cities_count %> Cities
        </dd>
      </div>
      <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 dark:border-gray-600 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l dark:border-l-gray-600">
        <dt class="text-sm font-medium leading-6 text-gray-500 dark:text-gray-400">Current Epoch</dt>
        <dd class="text-xs font-medium text-gray-700 dark:text-gray-300"></dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900 dark:text-gray-100"><%= @epoch ? @epoch.epoch : '' %></dd>
      </div>
      <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 dark:border-gray-600 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l dark:border-l-gray-600">
        <dt class="text-sm font-medium leading-6 text-gray-500 dark:text-gray-400">Staking APY</dt>
        <dd class="text-xs font-medium text-rose-600 dark:text-rose-400"></dd>
        <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900 dark:text-gray-100">6.99
          %
        </dd>
      </div>
    </dl>
  </div>
</div>
